<div class="well well-sm">
    <div class="text-right">
        <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">What do you think?</a>
    </div>
<% @pictures.each do |picture| %>
    <div class="row" id="post-review-box" style="display:none;" width="200px">
        <div class="col-md-12">
            <form accept-charset="UTF-8" action="/comment" method="post">
                    <%= hidden_field_tag(:facebook_id, picture[:id]) %>
                <input id="ratings-hidden" name="rating" type="hidden"> 
                <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your reaction to this doppel pair here..." rows="5"></textarea>

                <div class="text-right">
                    <div class="stars starrr" data-rating="0"></div>
                    <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none;">
                    <span class="glyphicon glyphicon-remove"></span>Cancel</a>
                    <button class="btn btn-success btn-lg" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
<% end %>
</div> 