<h1>Welcome to Doppelgangers Central!</h1>
<!-- FBGallery 592507767875 --> <!--/FBGallery -->
I enjoy spotting look alikes and this photo album has become quite popular amongst my friends.  Do we see eye to eye?  <b>Leave me a comment to let me know!</b>


<ul>
	<% @pictures.each do |picture| %>
		<li><img src="<%= picture[:url] %>"/></li>
		<div>
			<ul>
				<%= render 'comment' %>
				<li><b>Comments and Ratings</b></li>
				<% Picture.where(facebook_id: picture[:id]).each do |picture_comments| %>
					<% picture_comments.comments.each do |comment| %>
						------------------------------------------------------------------------<br />
						<%= "Posted by: #{comment.user.email} at #{comment.created_at.strftime("%c")}" %><br />
						<color: #336699><%= "#{comment.content}" %><br /><br />
					<% end %>
				<% end %>
			</ul>
		</div>
	<% end %>
</ul>

